global !p
def math():
	return vim.eval('vimtex#syntax#in_mathzone()') == '1'

def comment(): 
    return vim.eval('vimtex#syntax#in_comment()') == '1'

def env(name):
	[x,y] = vim.eval("vimtex#env#is_inside('" + name + "')") 
	return x != '0' and y != '0'

endglobal


context "math()"
snippet ubb "The \underbrace command" A
\underbrace{${1:${VISUAL:}}}_{$2} $0
endsnippet

context "math()"
snippet obb "The \overbrace command" A
\overbrace{${1:${VISUAL:}}}^{$2} $0
endsnippet

# vim:ft=snippet
