global !p
def math():
	return vim.eval('vimtex#syntax#in_mathzone()') == '1'
endglobal

# don't exactly understand what this do
snippet "([\W_])LL" "& (alignment character, which is a pain to reach)" rA
`!p snip.rv = match.group(1)`&
endsnippet

snippet ii "Item for enumerated environments \item" bA
\item
endsnippet

# vim:ft=snippet
