zoom_out <C-->
zoom_in <C-=>

toggle_dark_mode <C-r>

screen_down        <C-d>
screen_up          <C-u>

next_page          <pagedown>
previous_page      <pageup>

prev_state         <C-o>
next_state         <C-i>
goto_mark '

noop               <space>

# to open a portal window
toggle_window_configuration K
